#main_accordion {
	text-align: center;
}

#main_accordion div {
	max-height: 90vh;
}

.site-container {
	text-align: center;
}

.lg-toolbar-next:before {
  content: "\e094";
}
.lg-toolbar-prev:before {
  content: "\e095";
}

.gallery-item {
	display: inline-flex;
	width: 12.5rem;
	padding: 0.3125rem;
}

div.accordion-body {
	display: inline-block;
  	position: relative;
	padding: 1rem 5.625rem;
	background-color: dimgrey;
	width: -webkit-fill-available;
}
div.work-in-progress {
  	overflow: hidden;	
}

div.work-in-progress:before {
    content: "Work In Progress";
    position: absolute;
    top: 1.125rem;
    right: -2.6875rem;
    width: 9.375rem;
    text-align: center;
    transform: rotate(45deg);
    background: peru;
    padding: 0.625rem;
    color: white;
    font-size: 0.5625rem;
    font-weight: 600;
}

a#toggle-additional-projects{color:var(--card-bg);text-decoration: none;cursor:pointer}

@media (max-width: 600px) {
  div.accordion-body {
    padding: 1rem 1rem;
  }
  #main_accordion div {
	  max-height: fit-content;
  }

}