<footer class="site-footer">
    <div class="text-center mt-3">
        <p>Find me on social media.</p>
            <p>
                <a class="social-links" href="email:namtri@gmail.com"><i class="fa fa-envelope hover-opacity"></i></a> |
                <!-- <a class="social-links" href="https://www.facebook.com/thejdmartin/" target="_blank"><i class="fa fa-facebook-official hover-opacity"></i></a> | -->
                <a class="social-links" href="https://www.linkedin.com/in/jd-martin-1136b42/" target="_blank"><i class="fa fa-linkedin hover-opacity"></i></a> |
                <a class="social-links" href="https://www.github.com/namtri" target="_blank"><i class="fa fa-lg fa-github"></i></a>
            </p>
    </div>
</footer>
